/*<style>*/
.risk-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки */
  gap: 15px;
  width: 100%;
  margin: 20px 0;
  margin-top: 20px;
}

.risk-card {
  padding: 20px 15px;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.risk-title {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.risk-value {
  font-size: 0.9em;
  opacity: 0.9;
}

@media (max-width: 768px) {
    .risk-grid{
        grid-template-columns: 1fr;
    }
}
/*</style>*/